@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Rubik Moonrocks", sans-serif;
    --fonte-secundario: "Fjalla One", sans-serif;
    --timberwolf: #dad7cdff;
    --sage: rgb(206, 216, 189);
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;
    --preto-basico: #000000ff;
    --branco-basico: #ffffff;
}

body {
    font-family: var(--fonte-secundario);
    background-color: var(--sage);
    color: var(--preto-basico);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80px;          
    height: 80px;         
    border-radius: 50%;   
    position: absolute;      
    top: 15px;            
    left: 15px;           
    object-fit: cover;    
    z-index: 10;          
}

@media (max-width: 1024px) {
    .logo {
        width: 70px;      
        height: 70px;     
        top: 10px;        
        left: 10px;       
    }
}

@media (max-width: 768px) {
    .logo {
        width: 60px;      
        height: 60px;     
        top: 10px;       
        left: 10px;      
    }
}

@media (max-width: 480px) {
    .logo {
        width: 50px;      
        height: 50px;     
        top: 10px;       
        left: 10px;      
    }
}



header {
    background-color: var(--hunter-green); 
    width: 100%; 
    padding: 20px; 
    color: var(--branco-basico); 
    text-align: center; 
}

h1 {
    font-family: var(--fonte-principal); 
    margin-bottom: 15px; 
    color: var(--branco-basico); 
}

nav {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
}

ul {
    list-style-type: none;
    display: flex; 
    gap: 20px; 
    padding: 0;
    margin: 0; 
}

nav a {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--fern-green); 
    color: var(--branco-basico); 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px;
    text-transform: uppercase; 
    letter-spacing: 1px;
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    cursor: pointer;
}

nav a:hover {
    background-color: var(--hunter-green); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px); 
}

nav a:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); 
}

nav a:active {
    transform: translateY(0); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    nav a {
        padding: 12px 25px;
        font-size: 16px; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    nav a {
        padding: 13px 27px;
    }
}


a {
    text-decoration: none; 
    color: var(--branco-basico); 
    font-weight: bold; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    font-family: var(--fonte-principal);
}

a:hover {
    background-color: var(--fern-green); 
    color: var(--preto-basico); 
}

main {
    max-width: 800px; 
    padding: 20px; 
}

section {
    margin: 20px 0; 
    padding: 15px; 
    background-color: white; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

footer {
    margin-top: auto; 
    padding: 10px; 
    text-align: center; 
    background-color: var(--hunter-green); 
    color: white; 
    width: 100%;
}

.artista-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.artista-row {
    display: flex;
    justify-content: center; 
}

.artista-img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 10px; 
    margin: 10px;
    border: 2px solid white; 
    transition: transform 0.3s ease;
}

.artista-img:hover {
    transform: scale(1.05);
}


@media (max-width: 600px) {
    header, nav, footer {
        padding: 10px; 
    }

    .artista-row {
        flex-direction: column; 
        align-items: center; 
    }

    .artista-img {
        max-width: 90%; 
    }

    ul {
        flex-direction: column; 
    }

    a {
        padding: 8px 10px; 
        margin: 5px 0; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    main {
        padding: 15px; 
    }

    .artista-img {
        max-width: 45%; 
    }
}

#estilos-musicais {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#estilos-musicais h2 {
    font-family: var(--fonte-principal); 
    margin-bottom: 15px; 
    color: var(--preto-basico); 
}

.estilos-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.estilo {
    flex: 1 1 250px; 
    margin: 15px;
    text-align: center;
    border: 1px solid var(--brunswick-green);
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9; 
    transition: transform 0.3s;
}

.estilo:hover {
    transform: scale(1.05);
}

.estilo-img {
    width: 100%;
    height: auto;
    border-radius: 5px; 
    max-height: 250px; 
}

h3 {
    margin: 10px 0;
    color: var(--brunswick-green); 
}

.carrossel-container {
    position: relative;
    width: 100%;
    max-width: 100%; /* Altera o max-width para ocupar toda a largura da tela */
    margin: 0 auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: none; /* Remove a transição de deslocamento para visualizar todas as imagens ao mesmo tempo */
}

.carrossel-item {
    min-width: 20%; /* Ajuste para exibir todas as imagens ao mesmo tempo */
    box-sizing: border-box;
    text-align: center;
}

.carrossel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



@media (max-width: 1024px) {
    .carrossel-container {
        max-width: 80%; 
    }

    .carrossel-container button {
        padding: 12px;  
        font-size: 20px; 
    }
}

@media (max-width: 768px) {
    .carrossel-container {
        max-width: 90%;
    }

    .carrossel-container button {
        padding: 10px;  
        font-size: 18px; 
    }
}

@media (max-width: 480px) {
    .carrossel-container {
        max-width: 95%;
    }

    .carrossel-container button {
        padding: 8px;   
        font-size: 16px; 
    }
}


h2 {
    font-family: var(--fonte-principal);
    color: var(--preto-basico);
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .carrossel-item {
        min-width: 80%; 
    }
}

.influencias-musicais {
    background-color: var(--branco-basico); 
    padding: 40px 20px;
    text-align: center;
    color: var(--preto-basico); 
    font-family: var(--fonte-secundario);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.influencias-musicais .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    font-family: var(--fonte-principal);
    color: var(--preto-basico); 
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.descricao {
    font-size: 1.2rem;
    color: var(--brunswick-green);
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.imagem-container {
    margin-top: 30px;
}


@media (max-width: 768px) {
    .titulo {
        font-size: 2rem;
    }

    .descricao {
        font-size: 1rem;
    }

    .video-button {
        max-width: 100%;
        margin-top: 20px;
    }
}

.link-youtube {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: var(--preto-basico); 
    font-weight: bold;
    text-decoration: none;
}

.link-youtube:hover {
    text-decoration: underline;
}

.video-button {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.video-button:hover {
    transform: scale(1.05);}

